<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <title>Question</title>
        <link rel="stylesheet" type="text/css" href="style.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
            integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
            crossorigin="anonymous" />
    </head>

    <body>
        <div class="question">
            <p>Question</p>
            <form action="/">
                <div class="checkbox-question">
                    <label class="form-check-label"><input class="form-check-input" type="checkbox" value="a" />Answer 1</label>
                    <label class="form-check-label"><input class="form-check-input" type="checkbox" value="b" />Answer 2</label>
                    <label class="form-check-label"><input class="form-check-input" type="checkbox" value="c" />Answer 3</label>
                    <label class="form-check-label"><input class="form-check-input" type="checkbox" value="d" />Answer 4</label>
                    <input class="btn btn-primary btn-next btn-lg" type="submit" value="Next" />
                </div>
            </form>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    </body>

</html>