.login-form{
    position: fixed;
    width: 50rem;
    margin: 5% auto;
    top: 30%;
    left: 0;
    right: 0;
}

.btn-next{
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
}
.question{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 50rem;
    margin: 5% auto;
    top: 15%;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
}
.question > p {font-size: 4rem;font-weight: bold;}
.question > form > div {
    display: flex;
    flex-direction: column;
}
.question > form > div > textarea {resize:none}
.question > form > div > input {margin-top: 2rem;}

.checkbox-question{
    width: 50rem;
}
.checkbox-question > label{
    zoom: 1.5;
}
.checkbox-question > label > input{
    margin-right: 1rem;
}